body {
  margin: 0;
  padding: 0;
  font-family: 'Droid Serif', serif;
}

navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

navbar li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
}

navbar a {
  text-decoration: none;
  display: block;
  padding-left: 15px;
  color: #444;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

navbar a:hover {
  background-color: #fff000;
}

navbar a.active {
  color: #ff0000;
  cursor: default;
}

/* Sub Menus */
navbar li li {
  font-size: .8em;
}

/*******************************************
   Style menu for larger screens
   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
  navbar li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  navbar a {
    border-bottom: none;
  }

  navbar > ul > li {
    text-align: center;
  }

  navbar > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  navbar li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  navbar li:hover ul {
    display: block;
  }

  navbar li ul li {
    display: block;
  }
}


/*********************************
KEEP FOOOTER AT BAY
*********************************/
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
center {
   min-height:100%;
   position:relative;
   height:100%;
}
header {
   padding:10px;
}
#main {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}